@font-face {
  font-family: 'BatmanFaRegular';
  src: url('fonts/batmfa.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KingslandRegular';
  src: url('fonts/KingslandRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

#wrap {
    width: 100%;
    /*height: 100%;*/
    min-height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    /*overflow: hidden;*/
}

html, body {
    height: 100%;
    /*font-family: KingslandRegular !important;*/
    background-image: url(../images/BlankBack.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.fill { 
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.row-pre-rules-title{
  height: 200px;
  max-height: 200px;
}
.col-pre-rules-title{
  height: 200px;
  max-height: 200px;
}

.rules-title-bk{
  position: absolute;
  height: 150px;
  width: 100%;
  max-width: 960px;
  background-image: url(../images/Banners/beforeApply/Slideinbk.png);
  background-position: right center;
  background-size: cover;
  left: -960px;
  -webkit-transition: left 2s;
  transition: left 2s; 
}
.rules-title-bk h1 {
  font-family: BatmanFaRegular !important;
  text-align: center;
  vertical-align: middle;
  line-height: 125px;
  color: #41b5ea;
  font-size: 50px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -webkit-text-stroke: 1px #1c7fb6;
  text-shadow:
       3px 3px 0 #1c7fb6,
     -1px -1px 0 #1c7fb6,  
      1px -1px 0 #1c7fb6,
      -1px 1px 0 #1c7fb6,
       1px 1px 0 #1c7fb6;
}

.registering-panel{
  background: rgba(0, 0, 0, 0.9) !important;
  overflow: hidden;
  border-image-slice: 33 33 33 33;
border-image-width: 30px 30px 30px 30px;
border-image-outset: 24px 24px 24px 25px;
border-image-repeat: stretch stretch;
border-image-source: url(../images/Border3.png);
}
.registering-panelbody{

}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    text-align: center;
  }

.form-control{
  text-align:center
}
.form-group-row{
  margin-bottom: 15px;
}
.form-buttom-row{
  margin-bottom: 10px;
}

.control-label{
    font-family: BatmanFaRegular !important;
    text-align: center;
    color: #7B7B7B;
    font-size: 20px;
    -webkit-text-stroke: 1px #1c7fb6;
/*    text-shadow: 0.5px 0.5px 0 #1c7fb6,
     -1px -1px 0 #1c7fb6,
      1px -1px 0 #1c7fb6,
       -1px 1px 0 #1c7fb6,
        1px 1px 0 #1c7fb6;*/
}



::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.btn-acceptrules {
  display: inline-block;
  padding: 15px 25px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: BatmanFaRegular !important;
  width: 100%;
  margin-top: 30px;
    text-shadow:
       2px 2px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
         transition: 0.2s ease-in;
}

.btn-acceptrules:hover {background-color: #0a6b87}

.btn-acceptrules:active {
  background-color: #0a6b87;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.btn-forgotpass {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: BatmanFaRegular !important;
  width: 50%;
  margin-top: 5px;
  background-color: #d3290f;
    text-shadow:
       2px 2px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
         transition: 0.2s ease-in;
}

.btn-forgotpass:hover {background-color: #811100}

.btn-forgotpass:active {
  background-color: #811100;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


@media (max-width: 815px){
  .btn-forgotpass{
     font-size: 15px;
     padding: 12px 22px;
     text-shadow:
       1px 1px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
  }
}

@media (max-width: 640px){
  .btn-forgotpass{
     font-size: 10px;
     padding: 7px 17px;
     text-shadow:
       1px 1px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
  }
}

@media (max-width: 385px){
  .btn-forgotpass{
     font-size: 10px;
     padding: 7px 17px;
     text-shadow:
       1px 1px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
       width: 100%;
  }
}



@media (max-width: 401px){
.rules-title-bk h1{
  font-size: 35px;
  }
.btn-acceptrules{
  font-size: 15px;
}
}
